@media (max-width: 790px) {

html,body {
    margin-top: 2px !important;
}

.logo {
    float: none;
    margin: auto; 
}
.navbar-default {display:none;}
.dropdown-menu img{display:none;}
.navbar-mobile {display:block; text-align:left; padding:5px 0 0 5px;}
.img-slider {display:none;}
.header {position:relative;}
.breadcrumb {margin-top: 5px;margin-bottom: 5px;}
.mt140 {display:none;}
.mobile-btn-menu {display:block;}
.teaser-menu>li {
    width: 100%;
    vertical-align: top;
    margin-top: 0px;
    text-align: left;
}

}